{% extends 'main/menu.html' %}
{%load static%}
{%block content%}
        <center><h2 class="holov">Пістолети під патрон Флобера<h2></center>
            <div class="des">
                <div class="sid-l"><p>Револьвер під патрон Флобера - відмінний варіант як для самооборони, так і для розважальної стрільби. Під час пострілу такого пістолета звуковий, світловий ефект, і навіть дим зі стовбура мало хто зможе відрізнити від ефекту пострілу бойової вогнепальної пістолета. Маса снаряда і потужність револьвера Флобера перевищує показники пневматичної зброї.</p></div>
<div class="sid-r">
<img src="{%static 'main/img/fl.jpg'%}" height="500" width="550">
            </div>
{%endblock content%}