{% extends 'main/menu.html' %}
{%block content%}
        <center><h1>Який пістолет вибрати?</h1></center>
        <h3>Основні види пістолетів для цивільного ринку:</h3>
        <div class="des">
        	<div class="left">
        <p class = "p1" class="perelik">тренувальний</p class = "p1">
        <p class = "p1">сигнальний</p class = "p1">
        <p class = "p1">страйкбольний</p class = "p1">
        <p class = "p1">пневматичний</p class = "p1">
        <p class = "p1">під патрон Флобера</p class = "p1">
        <p class = "p1">травматичний</p class = "p1">
           </div>
           <div class="right">
           	<p class= "p1">немає патронів, можна придбати з 0 років</p>
           	<p class= "p1">9мм, з 18 років</p>
           	<p class= "p1">1-9мм, з 0 років</p>
           	<p class= "p1"><a href="https://zakon.rada.gov.ua/laws/show/z0637-98#Text">НАКАЗ про пнематику</p>
           	<p class= "p1">4мм,з 18 років</p>
           	<p class= "p1">9мм, З 21 року</p>
           </div>
            <div class="end">
           	<p class= "butt"><a href="trenyval.html">Докладніше</a></p>
           	<p class= "butt"><a href="signal.html">Докладніше</a></p>
           	<p class= "butt"><a href="strikeboll.html">Докладніше</a></p>
           	<p class= "butt"><a href="pnevmat.html">Докладніше</p>
           	<p class= "butt"><a href="flober.html">Докладніше</a></p>
           	<p class= "butt"><a href="travmat.html">Докладніше</a></p>
           </div>
        </div> {%endblock content%}