{% extends 'main/menu.html' %}
{%load static%}
{%block content%}
        <center><h2 class="holov">Пістолет пневматичний<h2></center>
            <div class="des">
                <div class="sid-l"><p>Пневматичний пістолет рекомендується тим, хто захоплюється спортивною стрільбою. Ця зброя працює за принципом видавлювання кулі з допомогою стиснутого газу(CO2). Пневматичні пістолети поєднують в собі високу точність, скорострільність, низьку чутливість до погодних умов.</p></div>
<div class="sid-r">
<img src="{% static 'main/img/glock-17.jpg' %}" height="500" width="550">
            </div>
{%endblock content%}