{% load static %}
<!DOCTYPE html>
<html lang="UK">
<head>
	<meta charset="UTF-8">
	<title>веб-сторінка презентації</title>
	<link rel="stylesheet" href="{% static 'main/img/style-2.css' %}">
	</head>
	<body>
        <div class="side">

        <ul class="menu">
            <li class = "menu_list"><a href="#">меню</a>
             <ul class="menu_drop">
                 <li><a href="index.html">Головне</a></li>
                 <li><a href="pnevmat2.html">Пневмат</a></li>
                 <li><a href="travmat2.html">Травматика</a></li>
             </ul>
             </li>
        </ul>
        <center><h1 class="holov">Пневматика, її види<h2></center>
        <center><p class="text">Насправді видів пневмати трохи більше ніж ви могли подумати</p></center>
        <div class="dis">
        <div class="left"><h2>Пневматика пружинно-поршневого типу</h2>
        <p class="lit">У пневматичної гвинтівки / пістолеті такого типу постріл відбувається завдяки пружині. Усередині камери знаходиться поршень і спіральна пружина, яка стискається при взводі. Коли ви натискаєте на спусковий гачок, пружина різко розпрямляються і це призводить до руху поршня вперед. Рух поршня стискає повітря і кулі (пелети) виштовхується з дула за рахунок сили стисненого повітря.</p><img src="{% static 'main/img/pnev_pru.jpeg' %}" width="600" height="300"></div>
        <div class="right"><h2>PCP пневматика</h2><p class="lit">Пневматична зброя з попередніми зарядом (PCP/PreChargedPneumatic) використовує повітря під високим тиском в камері в якості рушійної сили для пострілу. Повітря під тиском стискається до 300 + - атмосфер і закачується в резервуар за допомогою балонів або ручних насосів. Коли повітря досягає бажаного рівня тиску (на резервуарах є манометр для індикації), зброя готова до роботи.</p><img src="{% static 'main/img/pcp.jpg' %}" width="600" height="300"></div>
        </div>
        <div class="dis">
            <img src="{% static 'main/img/glock-17.jpg' %}" width="40%" height="80%"><div class="big"><center><h2>Пневматика с болоном CO2</h2></center><p>Пневматика із балоном CO2 – це класичний варіант пістолетів. Рушійним елементом є спеціальний балон, який заправлений газом. Одного такого балона буде достатньо приблизно на 100 пострілів. Основною перевагою такої зброї є простота її застосування.Найкращий варіант на мою думку, оскільки має імітацію віддачі(BlowBack).<br>Але без blowback можна купити дешевше ніж з Blowback</p></div>
        </div>       
</body>
</html>