{% extends 'main/menu.html' %}
{%load static%}
{%block content%}
        <center><h2 class="holov">Стартовий(шумові) пістолети<h2></center>
            <div class="des">
                <div class="sid-l"><p>Стартовий або шумовий пістолет призначений для використання в спортивних змаганнях. З його допомогою позначається старт змагання і починається відлік часу. Іноді стартові пістолети можуть виручити, виступивши в якості зброї самооборони. Гучний звук при пострілі разом з ефектом несподіванки допоможе відлякати злочинців.</p></div>
<div class="sid-r">
<img src="{% static 'main/img/single.jpg' %}" height="500" width="550">
            </div></div>
{%endblock content%}