{% extends 'main/menu.html' %}
{%load static%}
{%block content%}
        <center><h2 class="holov">Пістолет страйкбольний<h2></center>
            <div class="des">
                <div class="sid-l"><p>це вже більш наближений варіант до вогнепальної зброї, проте в такій зброї снарядами служать пластикові кульки. Ці пістолети, які називають «м'якою пневматикою», створюються спеціально для військової командної гри страйкбол (airsoft). Більшість моделей пістолетів працює від акумуляторних батарей або спеціальної газової суміші.

</p></div>
<div class="sid-r">
<img src="{% static 'main/img/strike.jpg' %}" height="500" width="550">
            </div>
{%endblock content%}