{% extends 'main/menu.html' %}
{%load static%}
{%block content%}
        <center><h2 class="holov">Травматичний пістолет<h2></center>
            <div class="des">
                <div class="sid-l"><p>Травматичний пістолеті являють собою, по суті, вогнепальну зброю, в якому, однак, як снаряди використовуються гумові кулі з металевим сердечником. Також в травматичних пістолети можуть використовуватися спеціальні світлозвукові кулі. До травмата відносяться бесствольное пістолети і газові моделі, які можуть стріляти гумовими кулями.Травматичні пістолети відносять до зброї несмертельної дії.</p></div>
<div class="sid-r">
<img src="{%static 'main/img/fort-18R.jpg'%}" height="500" width="710">
            </div>
{%endblock content%}