<!DOCTYPE html>
<html lang="UK">
<head>
	<meta charset="UTF-8">
	<title>веб-сторінка презентації</title>
	<link rel="stylesheet" href="img/style.css">
	</head>
	<body>
        <div class="side">

        <ul class="menu">
            <li class = "menu_list"><a href="#">меню</a>
             <ul class="menu_drop">
                 <li><a href="index.html">Головне</a></li>
                 <li><a href="pnevmat2.html">Пневмат</a></li>
                 <li><a href="travmat2.html">Травматика</a></li>
             </ul>
             </li>
        </ul>
        <center><h2 class="holov">пістолет тренувальний<h2></center>
            <div class="des">
                <div class="sid-l"><p>Тренувальними пістолетами користуються ті, хто прагне розвинути навички стрільби і поводження з бойовою зброєю. У таких копіях бойових пістолетів не використовуються боєприпаси, а так вони повністю повторюють оригінальні моделі.

Вибираючи пістолет, незалежно від його типу, слід пам'ятати про правила його застосування і положеннях законодавства, які регулюють використання різних видів зброї.</p></div>
<div class="sid-r">
<img src="img/fort.jpg" height="500" width="550">
            </div>
	</body>
</html>