a {text-decoration: none;}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background:#000000;
}

::-webkit-scrollbar-thumb {
    background: #7b7c7c;
    border-radius: 8px;
    border: 2px solid #595959;
}
body{
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
  background: #1d1b1b;
}
ul{
	margin: 0;
	padding: 0;
  list-style: none;
}

.menu{
  display: flex;
  position: fixed;
}

.menu li{
  width: 250px;
  height: 50px;
  list-style: none;
  background: #000000;
  position: relative;
  transition: all 0.8s;
}

.menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 27px;
  transition: all 0.8s;
}

.menu a:hover {
  background: #5474f8;
}
.menu li:first-child a {
	border-radius:5px 5px 5px 5px;
}
.menu ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
  border-left: 14px solid transparent;
  transition: all 0.8s;
}

.menu li:hover > ul {
  display: block;
}

.holov {
	font-family: "FreeMono", monospace;
    font-weight: 900;
    letter-spacing: -4px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    font-size: 10vmin;
    height : 10vh;
    width: 100%;
    color: white;
    margin: 0;
}
p {
	color: white;
	letter-spacing: 0px
	margin: 0;
}
h2 {
 font-family: "Roboto","Arial",sans-serif;
 color: white;
}
.text {
 margin: 22px;
 font-size: 3vmin;
}
.lit {
	font-size: 2vmin;
}
.dis {
	display: flex;
    text-align: justify;
    height: 100vh;
}
.right {
  padding-top: 15px;
  width: 600px;
  padding-left: 20px;
}
.left {
  padding-top: 15px;
  width: 1000px;
  padding-left: 20px;

}
.big p {
	font-size: 4vmin;
}